form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
input{
    width: 100%;
    height: 35px;
    background-color: lightgray;
    border-radius: 5px;
    border: transparent;
    padding-left: 15px;
}
textarea{
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    border: transparent;
    padding: 15px;
    
}

/*STYLES CONTACT SECTION*/


.container-contact{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
}
.contact-me{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px ;
}
.as{
    text-align: start;
}

/*STYLES SOCIAL MEDIA ICONS CONTACTAME*/

.contact-social-media{
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}
.social-icons-form{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 20px 0;
    transition-duration: 0.5s;
}
.social-item{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}
/*STYLES CONTACT FORM */

.escribime{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
}
.form-line{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.div-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.get-button{
    width: 150px;
    height: 40px;
    font-size: 12px;
    background-color: tomato;
    color:white;
    border:transparent;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}


/*SOCIAL MEDIA ICONS AND FORM, HOVERS AND ACTIVES*/


.get-button:hover{
    transform: scale(1.2);
}
.get-button:active{
    color:black;
}
.social-item:hover .social-icons-form{
    color: tomato;
    background-color: transparent;
    transition-duration: 0.5s;
}
.social-item:active{
    background-color: transparent;
    transform: scale(1.4);
    transition-duration: 0.5s;
}
.red-input:focus {
    background-color: tomato;
    color: white;
    border: tomato;
}

/*RESPONSIVE*/

@media screen and (max-width: 900px) {

    form{
        align-items: center;
    }
    input{
        padding-left: 10px;
        align-self: center;
    }

    .container-contact{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .contact-me{
        width: 80%;
        margin-left: 0;
    }
    .contact-social-media{
        margin-top: 10px;
        margin-left: 10px;
    }
    .escribime{
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }    
    .as{
        text-align: center;
    }
    .form-line{
        justify-content: center;
    }
    
}
