@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan', sans-serif;
    width: 100vw;
    height: 100vh;
    box-shadow: -4px 4px 20px 0px rgba(248,3,3,0.47) inset;
-webkit-box-shadow: -4px 4px 20px 0px rgba(248,3,3,0.47) inset;
-moz-box-shadow: -4px 4px 20px 0px rgba(248,3,3,0.47) inset;
}
header{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    padding: 20px; 
    align-items: flex-end;
    box-shadow: 2px 6px 5px -1px rgba(248,3,3,0.34);
-webkit-box-shadow: 2px 6px 5px -1px rgba(248,3,3,0.34);
-moz-box-shadow: 2px 6px 5px -1px rgba(248,3,3,0.34);
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 500px;
    padding-right: 200px;
    justify-content: space-evenly;
    align-items: center;
}
p{
    font-size: 12px;
    font-weight: 400;
    display: flex;
}
a{
    color: tomato;
    text-decoration: none;    
}
.botoncontacto{
    width: 120px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    border: 2px tomato solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* padding-left: 200px;
    padding-right: 200px;*/
.portada {
    width: 100%;
    height: 100%;
    padding: 200px;
    
}


.nombre{
    font-size: 40px;
    font-weight: 900;
    color: tomato;
    margin-top: 10px;
}
.descripcion{
    font-size: 14px;
    color: gray;
    margin-top: 40px;
}
.botonhago{
    width: 150px;
    height: 40px;
    background-color: tomato;
    color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
