main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
section {
    width: 100%;
    height: 100%;
    padding: 150px;
}
img{
    width: 385px;
    height: 297px;
}

h2{
    font-size: 30px;
    font-weight: 900;
}
.presentacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.holasoy{
    width: 50%;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nombre{
    font-size: 40px;
    font-weight: 900;
    color: tomato;
}
.descripcion{
    font-size: 14px;
    color: gray;
}
.botonhago{
    width: 150px;
    height: 40px;
    font-size: 12px;
    background-color: tomato;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones{
    color:white;
    border:transparent
}
.habilidades{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-name{
    color: grey;
    text-align: center;
    margin: 0 0 20px
}
.conocimientos{
    background-color:rgba(233, 229, 229, 0.849);
}
.bajada{
    width: 60%;
    text-align: center;
    margin: 20px 0
}
.grid{
width: 700px;
height: 100%;
display: flex;
flex-wrap:wrap;
}
.card{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin:15px;    
}
.icon-card{
    font-size: 80px;
    margin-bottom: 15px;
}
