header{
    
    width: 100%;
    height: 80px;
    position:fixed;
    z-index: 9999;
    display: flex;
    background-color: white;
    align-items: flex-end;
    box-shadow: 2px 6px 5px -1px rgba(248,3,3,0.34);
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
}
ul{
    width: 450px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
a{
    color: tomato;
    text-decoration: none;
}
.botoncontacto{
    width: 120px;
    height: 40px;
    background-color: tomato;
    color:white;
    border-radius: 40px;
    border: 2px tomato solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones{
    color:white;
    border:transparent;
}

/*HOVERS AND ACTIVES STYLES*/

.botoncontacto:hover {
    transform: scale(1.2);
}
.botones:active {
    color:black;
}
a:hover{
    color: black;
}
a:active{
    color: white;
    background-color: tomato;
    border-radius: 15px;
    padding: 10px;
}

/*RESPONSIVE*/

@media screen and (max-width: 725px) {

    header{
        display: none;
    }

}